body {

    background-color: #080808;

    color: #cfcfcf;

    font-family: "Courier New", monospace;

    max-width: 900px;

    margin: auto;

    padding: 30px;

}


.header {

    color: #ffd700;

    text-align:center;

}



h1 {

    color:#ffd700;

}


h2 {

    color:#00ff66;

}



a {

    color:#00ffff;

    text-decoration:none;

    margin-right:15px;

}


a:hover {

    color:#ffff00;

}



pre {

    font-family:"Courier New", monospace;

}



hr {

    border:0;

    border-top:1px solid #333;

    margin:40px 0;

}



table {

    border-collapse:collapse;

    width:100%;

}



td, th {

    border:1px solid #555;

    padding:10px;

}



th {

    color:#ffd700;

}



footer {

    color:#777;

    text-align:center;

}
